<%= error_messages_for 'postcode' %>

<!--[form:postcode]-->
<p><label for="postcode_postcode">Postcode</label><br/>
<%= text_field 'postcode', 'postcode'  %></p>

<p><label for="postcode_longitude">Longitude</label><br/>
<%= text_field 'postcode', 'longitude'  %></p>

<p><label for="postcode_latitude">Latitude</label><br/>
<%= text_field 'postcode', 'latitude'  %></p>
<!--[eoform:postcode]-->

