<% for column in Postcode.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @postcode.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @postcode %> |
<%= link_to 'Back', :action => 'list' %>
