  <div id="theGmap">
	<span id="breadcrumbs">&nbsp;</span>
    <%= @map.div(:width => 792, :height => 375) %>
	</div>
	<div id="filtering">
		<%= render :partial => "places/searcher" %>
	</div>
		
	<div id="PlacesListing">

	</div>

