<%= render :partial => "layouts/map_nav" %>

<h1>Listing <%= @places.size %> Random Places</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
  </tr>
  
<% for place in @places %>
  <tr>
    <td><%= link_to place.name, :action => 'show', :id => place %></td>
    <td><%= link_to place.category.name, :action => 'list_category', :category_id => place.category_id %></td>
  </tr>
<% end %>
</table>

<br />

