<div id="map-controls">
<p>
<%= link_to 'New Place', :controller => 'places', :action => 'new' %> |
<%= link_to 'Show On Small Map', :controller => 'places', :action => 'list' %> |
<%= link_to 'Show Random Places', :controller => 'places', :action => 'random' %> |
<%= link_to 'Show On Large Map', :controller => 'main', :action => 'list' %>
</p>
</div>